<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail product</title>
</head>
<body>
    <h1>Detail Song</h1>
    <table th:object="${song}">
        <tr>
            <td>ID:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td th:text="*{type}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td th:text="*{urlSong}"></td>
        </tr>

    </table>
    <a th:text="|Back to list|" th:href="@{/song/list}"></a>
</body>
</html>