<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List song</title>
</head>
<body>
<div th:text="${#locale.setDefault('vn')}"></div>
<a th:href="@{/song/create}">Create</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>URL</th>
        </tr>
        <tr th:each="p: ${songs}" th:object="${p}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{type}"></td>
            <td th:text="*{urlSong}"></td>
            <td>
                <a th:href="@{/song/detail/{id}(id=*{id})}">Detail</a>
                <a th:href="@{/song/update(id=*{id})}">Update</a>
            </td>
        </tr>
    </table>
</body>
</html>